---
import Layout from "../layouts/Layout.astro";
import SearchBar from "../components/SearchBar.astro";
import MangasSitesGrouped from "../components/MangaSitesGrouped.astro";

const site = Astro.url.searchParams.get("fuente")! || "Todas";
const query = Astro.url.searchParams.get("search")! || "";

console.log("query", query);
if(query == ""){
  return Astro.redirect("./404");
}

import { config } from "dotenv";
config();

const serverURL = process.env.SERVER_URL || `http://localhost:7070`;

const requestUrl = `${serverURL}/busqueda?search=${query}`;
const response =  await fetch(requestUrl)
const searchResponse = await response.json();

if(response.status === 404){
  return Astro.redirect("./404");
}

const description = `Resultados de la busqueda en Mangateca de ${query}`;
---

<Layout title="Busqueda" description={description}>
  <SearchBar />

  <div class="mt-6 p-auto m-auto max-w-6xl max-xl:max-w-full">
    <MangasSitesGrouped searchMangasResponse={searchResponse} />
  </div>
</Layout>
