---
import type { Manga } from "../models/Manga";
import MangaCover from "../components/MangaCover.astro";

export interface Props {
  manga: Manga;
}

const { manga } = Astro.props;

const mangatecaLink = `/Manga?nombre=${manga.name_joined}&site=${manga.site}`;
---

<a href={mangatecaLink}>
  <div class="card card-compact shadow-md p-1 bg-accent dark:bg-neutral-content h-fit">
      <MangaCover
        image={manga.cover}
        alt={manga.name + " cover"}
        site={manga.site}
        originalLink={manga.link}
      />
      <a href={mangatecaLink}>
        <div class="card-body rounded-b-2xl w-40 -m-1 text-white dark:text-neutral">
          <h3 class="card-title text-sm font-bold capitalize">
            {manga.name}
          </h3>
        </div>
      </a>
    </div>
  </div>
</a>

<style lang="scss">
  .card {
    background-size: 400%;
    background-position: 100%;
    transition: background-position 1s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .card:is(:hover) {
    background-position: 0;
    background-image: var(--accent-gradient);
    transform: scale(1.05);
    padding: 0.25rem;

    .card-body {
      color: whitesmoke;
    }
  }
</style>
