---
import type { Manga } from "../models/Manga";
import MangaCover from "../components/MangaCover.astro";

export interface Props {
  manga: Manga;
}

const { manga } = Astro.props;

const mangatecaLink = `/${manga.site}/${manga.nameJoined}`;
const mangaLinkAriaLabel = `Leer ${manga.name} en ${manga.site}`;
const mangaName =
  manga.name.length > 300 ? manga.name.slice(0, 25) + "..." : manga.name;
---

<a href={mangatecaLink} aria-label={mangaLinkAriaLabel}>
  <div
    class="card card-compact shadow-md p-1 bg-accent dark:bg-secondary-focus select-none"
  >
    <MangaCover
      image={manga.cover}
      alt={manga.name + " cover"}
      site={manga.site}
      originalLink={manga.link}
    />
    <a href={mangatecaLink} aria-label={mangaLinkAriaLabel}>
      <div
        class="card-body rounded-b-2xl w-40 -m-2 text-white"
      >
        <h3
          class="card-title align-text-top text-sm font-bold capitalize h-max-16 line-clamp-2"
        >
          {mangaName}
        </h3>
      </div>
    </a>
  </div>
</a>

<style lang="scss">
  .card {
    background-size: 400%;
    background-position: 100%;
    transition: background-position 1s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .card:is(:hover) {
    background-position: 0;
    background-image: var(--accent-gradient);
    transform: scale(1.05);
    padding: 0.25rem;

    .card-body {
      color: whitesmoke;
    }
  }
</style>
