---
import {ImageRequest} from "../components/ImageRequest";
import { GetColor } from "../models/Sites";

export interface Props {
    image: string;
    alt: string;
    site: string;
    originalLink: string;
}

const {image, alt, site, originalLink} = Astro.props;
---

<div class="aspect-2/3 relative container w-40 h-auto">
    <ImageRequest
      imageLink={image}
      imagePlaceholder="/images/placeholders/placeholder-cover.webp"
      alt={alt}
      className="h-full w-full rounded-t-2xl"
      client:load
    />
    <a
      href={originalLink}
      class="transition site absolute bottom-2 right-2 hover hover:scale-105"
    >
      <span
        class='badge indicator-item p-2 max-sm:badge-xs'
        class:list={[GetColor(site)]}>{site}</span
      >
    </a>
  </div>