---
import { Manga, GetColor } from "../models/Manga";

export interface Props {
  manga: Manga;
}

const { manga } = Astro.props;
---

<div class="card card-compact shadow-xl w-full sm:w-1/2 md:w-1/3 lg:w-1/3 xl:w-[12%]">
  <a href={manga.link}>
    <div class="card">
      <div class="card-image aspect-2/3 relative h-full w-full">
        <img
          src={manga.cover}
          alt={manga.name + " cover"}
          class="h-full w-full rounded-t-2xl"
        />
        <a href={manga.link} class="absolute bottom-2 right-2">
          <span
            class="indicator-item badge max-w-xs"
            class:list={[GetColor(manga.site)]}>{manga.site}</span
          >
        </a>
      </div>
      <div class="card-body">
        <h3 class="card-title">
          {manga.name}
        </h3>

        <p>
          Capitulos: {manga.chaptersNumber}
        </p>
      </div>
    </div>
  </a>
</div>

<style>
  .card {
    background-size: 400%;
    background-position: 100%;
    transition: background-position 1s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .card:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accent-gradient);
  }
</style>
