---
import type { Manga } from "../models/Manga";
import { GetColor } from "../models/SitesColors";

export interface Props {
  manga: Manga;
}

const { manga } = Astro.props;
---

<a href={manga.link}>
  <div
    class="card card-compact shadow-xl w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-[12%] h-full"
  >
    <div class="card">
      <div class="card-image aspect-2/3 relative h-full w-full">
        <img
          src={manga.cover}
          alt={manga.name + " cover"}
          class="h-full w-full rounded-t-2xl"
        />
        <a
          href={manga.link}
          class="site absolute bottom-2 right-2 hover:filter hover:brightness-95"
        >
          <span
            class="indicator-item badge max-w-xs hover"
            class:list={["badge-"+GetColor(manga.site), true]}>{manga.site}</span
          >
        </a>
      </div>
      <a href={manga.link}>
        <div class="card-body rounded-b-2xl h-full bg-accent">
          <h3 class="card-title text-lg">
            {manga.name}
          </h3>
  
          <p class="grow mb-auto">
            Capitulos: {manga.chaptersNumber}
          </p>
        </div>
      </a>
      
    </div>
  </div>
</a>

<style lang="scss">
  .card {
    background-size: 400%;
    background-position: 100%;
    transition: background-position 1s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .card:is(:hover, :focus-within):not(.badge:hover) {
    background-position: 0;
    background-image: var(--accent-gradient);

    .card-body {
      background-color: transparent;
    }
  }

  
</style>
