---
const site = Astro.url.searchParams.get("fuente")! || "Todas";
const query = Astro.url.searchParams.get("search")! || "";

interface StringDictionary {
  [key: string]: string;
}

const options: StringDictionary = {
  all: "Todas",
  manganyaa: "MangaNyaa",
  mangadex: "MangaDex",
  tmo: "TMO",
  mangafox: "MangaFox",
};

const optionSelected = options[site];
---

<form action="./Search" class="w-3/5 max-xl:w-full">
  <div class="form-control" id="form-search">
    <div class="input-group">
      <!-- Select input -->
      <select
        class="select select-lg max-lg:select-md max-sm:w-10 select-primary focus:outline-none"
        id="fuente"
        name="fuente"
      >
        {
          () => {
            if (optionSelected) {
              return (
                <option selected={optionSelected} value={site}>
                  {optionSelected}
                </option>
              );
            }
          }
        }

        {
          Object.entries(options).map(([key, value]) => {
            if (key !== site) return <option value={key}>{value}</option>;
          })
        }
      </select>

      <!-- Search input -->
      <input
        type="text"
        placeholder="Encuentra tu manga favorito en español"
        class="input input-primary input-lg w-full md:flex-1 max-lg:input-md focus:outline-none"
        id="search"
        name="search"
        value={query}
      />

      <!-- Search Button -->
      <button
        class="btn-primary btn-lg max-lg:btn-md border-none"
        id="search-button"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg
        >
      </button>
    </div>
  </div>
</form>
